<po-page-default p-title="Pesquisa de Usuários" [p-actions]="acoesPagina">
 
    <po-table 
        [p-columns]="colunas" 
        [p-items]="usuarios$ | async"
        [p-hide-columns-manager]="true"
        [p-striped]="true"
        [p-loading]="carregandoUsuarios"
        [p-height]="720"
        [p-show-more-disabled]="false"
        [p-literals]="{loadMoreData: 'Carregar mais Clientes'}">

        <ng-template p-table-column-template [p-property]="'permissoes'" let-permissao>
            <div *ngIf="permissao[0]?.nome == 'ROLE_ADMIN'">
                <po-tag p-color="color-07" p-text-color="#fff" [p-value]="permissao[0]?.nome"></po-tag>
            </div>
            <div *ngIf="permissao[0]?.nome == 'ROLE_GESTOR'">
                <po-tag p-color="color-08" p-text-color="#fff" [p-value]="permissao[0]?.nome"></po-tag>
            </div>
            <div *ngIf="permissao[0]?.nome == 'ROLE_TECNICO'">
                <po-tag p-color="color-02" p-text-color="#fff" [p-value]="permissao[0]?.nome"></po-tag>
            </div>
        </ng-template>
    </po-table>
  
</po-page-default>
  
<po-modal #modal [p-title]="isNovoUsuario() ? 'Novo Usuario' : 'Editando Usuário'" [p-primary-action]="usuarioFormModalSalvar()" [p-secondary-action]="usuarioFormModalFechar()">
<form [formGroup]="usuarioForm" [autocomplete]="false">
    <div class="po-row po-mb-1">
        <po-input name="nome" formControlName="nome" p-label="Nome" class="po-md-7"></po-input>
        <po-input name="email" formControlName="email" p-label="E-mail" class="po-md-5"></po-input>
    </div>
    <div class="po-row">
        <po-password name="senha" formControlName="senha" p-label="Senha" class="po-md-4"></po-password>
        <po-password name="confirmaSenha" formControlName="confirmSenha" p-error-pattern="As senhas não conferem." [p-pattern]="this.usuarioForm.get('senha')?.value" p-label="Confirmar senha" class="po-md-4"></po-password>            
        <po-select 
            class="po-md-4"
            name="permissao"
            p-label="Permissão"
            formControlName="permissoes"
            p-placeholder="Selecione a permissão"
            [p-options]="permissoes$ | async">
            </po-select>
    </div>
    </form>
</po-modal>
