.kpi-principal {
    
    font-size: 2.5rem !important;
}

.kpi-icon {
    color: #0c6c9461;
    font-size: 3rem !important;
    position: relative;
    top: .7rem;
}

.kpi-quant {
    font-weight: bold;
    color: #0c6c94;
}

.po-icon::before {
    vertical-align: middle;
    border-radius: 50%;
    color: #fff;
    padding: 1rem;
}

.po-icon.abertos::before {
    background-color: #035AA6;
}

.po-icon.processando::before {
    background-color: #ea9b3e;
}

.po-icon.fechados::before {
    background-color: #91CDF2;
}

.po-icon.qtde-equipamentos::before {
    background-color: #38B64B;
}