<div class="po-wrapper">

  <po-toolbar p-title="{{ appNomeDesc }}" p-actions-icon="po-icon-cart" [p-profile]="profile"
    [p-profile-actions]="profileActions">
  </po-toolbar>


  <po-menu [p-menus]="menu" [p-filter]="true" [p-collapsed]="false" p-logo="/assets/logo/logo_w_h.png"
    p-short-logo="/assets/logo/logo_w_icon.png">

    <ng-template p-menu-header-template class="center">
      <po-container [p-height]="195" class="po-text-center" [p-no-border]="true" id="usuario-container">

        <div class="po-row">
          <po-avatar class="po-text-center" p-src="./assets/img/foto-carlos.jpg" id="avatar">
          </po-avatar>
        </div>

        <div id="usuario-info">
          <div class="po-font-subtitle po-text-center">{{profile.subtitle}}</div>
          <div class="po-text-center">{{ profile.title }}</div>
        </div>

      </po-container>
    </ng-template>
  </po-menu>

  <router-outlet></router-outlet>

</div>